@model loohcSgiB.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>
<ul class="course">
    @foreach (var course in Model.UpcomingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    @if (Model.ShowAction)
                    {
                        <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-toggle-follow">Follow</button>
                    }

                </span>
                <br />
                <span class="category">
                    @course.Category.Name
                </span>
                @if (Model.ShowAction)
                {
                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                }
            </div>
        </li>
    }
</ul>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.js-toggle-attendance').click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function (response) {
                        if (response.isFollow) {
                            button.removeClass('btn-default')
                                .addClass('btn-info')
                                .text('Going');

                        }
                        else {
                            button.removeClass('btn-info')
                                .addClass('btn-default')
                                .text('Going?');
                        }

                    })
                    .fail(
                        function () {
                            alert('Something failed!');
                        });
            });
            $('.js-toggle-follow').click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done((response) => {
                        if (response.isFollow) {

                            $('.js-toggle-follow').map((index, value) => {
                                console.log($(value).attr('data-user-id'), response.followeeId);
                                if ($(value).attr('data-user-id') == response.followeeId) {

                                    return $(value).removeClass('btn-default')
                                        .addClass('btn-info')
                                        .text('Following');
                                }
                            });
                        } else {
                            $('.js-toggle-follow').map((index, value) => {
                                if ($(value).attr('data-user-id') == response.followeeId) {
                                    $(value).removeClass('btn-info')
                                        .addClass('btn-default')
                                        .text('Follow?');
                                }
                            });
                        }


                    })
                    .fail(
                        function () {
                            alert('Something failed!');
                        });
            });
        })
    </script>
}

